<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro usuario</title>
    <link rel="stylesheet" href="css/homecelular.css" type="text/css">
    <link rel="stylesheet" href="css/bg_img.css" type="text/css">
    <link rel="stylesheet" href="css/fonte.css" type="text/css">
    <!-- <link rel="stylesheet" href="css/form.css" type="text/css"> -->
    <link rel="stylesheet" href="css/footer.css" type="text/css">
    <link rel="shortcut icon" href="img/icon_reciclagem-Naoseidasdquasnt.png" type="image/x-icon">
</head>
<body>
    <div class="bg_img">
        <div class="conteudo_pag-1000">
            <header id="header">
                <div id="logotipoNPR">
                <img src="img/logotipoNPRcelularcomNPRPARAFORA.svg" width="120px" height="120px">
                </div>
                <div id="logo"></div>
            
                <nav id="nav">
                <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
                    aria-expanded="false">Menu
                    <span id="hamburger"></span>
                </button>
                <ul id="menu" role="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/status">Status</a></li>
                    <li><a href="/login">Login</a></li>
                    <li class="pag_active"><a href="/cadastro">Cadastro</a></li>
                    <li><a href="/ponto_cadastro">Ponto de coleta</a></li>
                </ul>
                </nav>
            </header>

    

            <div class="conteudo_principal_regua" style="background-color: transparent;">
           
                    <div class="row">
                        <form method="post" action="/add_usuario" class="col col-10 m-5 border border-secondary p-4 bg-light">
                            <%if(msg.length >0){%>
                            <div class="msg bg-danger text-danger-emphasis border border-dark border-2 rounded p-2">
                                <%=msg%>
                            </div><%}%>
                            <h1>Cadastro para novo Usuário</h1>
                            <div class="form-floating m-2">
                                <input type="text" name="nomeUsuario" id="FloatingName" class="form-control" placeholder="Nome completo" required value="<%= valNome %>">
                                <label for="FloatingName">Nome completo</label>
                            </div>
                
                            <div class="form-floating m-2">
                                <input type="text" name="cpfUsuario" id="FloatingCPF" class="form-control" placeholder="CPF" maxlength="14" required value="<%= valCpf %>">
                                <label for="FloatingCPF">CPF</label>
                            </div>
                
                            <div class="form-floating m-2">
                                <input type="email" name="emailUsuario" id="FloatingEmail" class="form-control" placeholder="Email" required value="<%= valEmail %>">
                                <label for="FloatingEmail">Email</label>
                            </div>
                
                            <div class="form-floating m-2 " >
                                <input type="text" name="telUsuario" id="FloatingTel" class="form-control" placeholder="Telefone" maxlength="15" required value="<%= valTel %>">
                                <label for="FloatingTel">Telefone</label>
                            </div>
                
                            <div class="row">
                                <div class="form-floating m-1 p-1 col">
                                    <input type="password" name="senhaUsuario" id="FloatingPassword" class="form-control" placeholder="Senha" autocomplete="off" minlength="6" required>
                                    <label for="FloatingPassword">Senha</label>
                                </div>
                                <div class="form-floating m-1 p-1 col">
                                    <input type="password" name="senhaConfirmaUsuario" id="FloatingConfirmPassword" class="form-control" placeholder="Confirme Senha" autocomplete="off" minlength="6" required>
                                    <label for="FloatingConfirmPassword">Confirme Senha</label>
                                </div>
                          
                               

                                <div class="form-check mb-3">
                                    <input type="checkbox" name="" id="ocultarSenha" class="form-check-input">
                                    <label for="ocultarSenha" class="form-check-label">Mostrar Senha</label>
                                </div>
                            </div>
                
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Selecione uma foto do local</label>
                                <input type="file" name="fotoPerfil" id="formFile" class="form-control">
                            </div>
                
                            <div class="row">
                                <input type="submit" value="Cadastrar" class="btn btn-outline-primary m-2 p-2 col col-4">
                                <input type="reset" value="Cancelar" class="btn btn-outline-danger m-2 p-2 col col-2">
                            </div>
                        </form>
                      
                    </div>
                

            </div>
        </div>

        <footer id="rodape">
            <h3 id="contato">Email para contato: <strong>npr.contato@gmail.com</strong></h3>
            <h3 id="contato">Email para dúvidas: <strong>npr.duvidas@gmail.com</strong></h3>
            <h2 id="redes_sociais">Redes Sociais</h2>
            <nav id="icones_sociais">
              <ul>
                <li><a href="#" target="_blank"><img src="img/facebook.png" alt="" id="icon"></a></li>
                <li><a href="https://www.instagram.com/n.p.r.brasilsp/" target="_blank"><img src="img/instagram (2).png"
                      alt="" id="icon"></a></li>
                <li><a href="#" target="_blank"><img src="img/twitter.png" alt="" id="icon"></a></li>
              </ul>
            </nav>
          </footer>
      </div>


      <script src="js/mascara.js"></script>
      <script src="js/ocultar.js"></script>
      <script src="js/busca.js"></script>
      <script src="js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

      <script>
   
            const passwordInput = document.getElementById("FloatingPassword");
            const confirmPassword = document.getElementById("FloatingConfirmPassword");
            const ocultarSenha = document.getElementById("ocultarSenha");

            ocultarSenha.addEventListener("change", function() {
                if (this.checked) {
                    passwordInput.type = "text";
                    confirmPassword.type = "text";
                    console.log("Mostrar senha")
                }  else {
                    passwordInput.type = "password";
                    confirmPassword.type = "password";
                    console.log("Ocultar senha")
                }
            })
        
      </script>
</body>
</html>
